<div class="mascotCard card col-3" style="width: 18rem;">
  <%= first_state(mascot.animations) %>
  <%= select_tag 'current_animation', options_for_select(animation_states(mascot.animations)) %>
  <div class="card-body row">
    <h5 class="card-title col-5 mascotName"><%= mascot.name %></h5>
    <div class="ml-auto d-flex flex-column">
      <span><i class="fas fa-coins"></i> <%= mascot.priceMoney %></span>
      <span><i class="fas fa-blog jashiPoints"></i> <%= mascot.pricePoints %></span>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
    <%= button_tag "buy #{mascot.name}", class: 'btn btn-block'%>
    </li>
  </ul>
  
</div>
