<div class="mascotCard card col-3" style="width: 18rem;">
  <%= first_state(mascot.animations) %>
  <%= select_tag 'current_animation', options_for_select(animation_states(mascot.animations)) %>
  <div class="card-body">
    <h5 class="card-title"><%= mascot.name %></h5>
    <%= mascot.priceMoney %>
    <%= mascot.pricePoints %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
